@import 'variables.scss';
@mixin center_horizontal {
  left: 50%;
  transform: translateX(-50%);
}

@mixin center_vertical {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center_horizontal_and_Vertical {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
