@import 'variables.scss';
@mixin center_horizontal {
  left: 50%;
  transform: translateX(-50%);
}

@mixin center_vertical {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center_horizontal_and_Vertical {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


@mixin primaryButtonStyle {
  width: 86%;
  height: 48px;
  margin: 0px;
  position: absolute;
  bottom: 24px;
  z-index: 9;

  background-color: $bluebtn-backgroundcolor;
  color: $bluebtn-wordcolor;
  border-radius: 8px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.25);
  font-size: 20px;

  &[disabled] {
    background-color: $bluebtn-backgroundcolor-disabled;
    color: $bluebtn-wordcolor-disabled;
  }
}

@mixin transferButton {
  width: 86%;
  margin: 0px;
  height: 48px;
  bottom: 1.5em;
  z-index: 9;
  @include center_horizontal;
  @include primaryButtonStyle;
}
