$theme-color: #4187f7;
$theme-secondary-color: #3cd57b;
$theme-placeholder-color: #aaaaaa;
$theme-font-color-btn: #4187f7;
$theme-font-color-msg: white;
$theme-disable-color-font: #aaaaaa;
$theme-warning-color: #ff3b30;
$theme-listing-bgcolor: #f4f6f8;

$defaultPageMargin: 16px;

//Background Color
$app-bgcolor: white;
$home-bgcolor:#0a224e;

//Button Color
$plainbtn-wordcolor: $theme-color;
$plainbtn-wordcolor-disabled: $theme-disable-color-font;

$bluebtn-backgroundcolor: $theme-color;
$bluebtn-wordcolor: $theme-font-color-msg;

$bluebtn-backgroundcolor-disabled: rgba(65, 135, 247, 0.6);
$bluebtn-wordcolor-disabled: $theme-font-color-msg;

//Other component Color
$label-color: #4a4a4a;
$mdtAmountColor: #9b9b9b;
$placeholderColor: $mdtAmountColor;
$error-color: #ff3b30;

// Height and margin
$header-height: 56px;

// Text color
$primary-text-color: #4a4a4a;
$secondary-text-color: #9b9b9b;

// Font size
$primary-font-size: 1rem;
$secondary-font-size: 0.875rem;