$theme-color: #4187f7;
$theme-font-color-btn: #4187f7;
$theme-font-color-msg: white;

$defaultPageMargin: 16px;

//Background Color
$app-bgcolor: white;
$home-bgcolor:#0a224e;

//Button Color
$plainbtn-wordcolor: $theme-color;

$bluebtn-backgroundcolor: $theme-color;
$bluebtn-wordcolor: $theme-font-color-msg;

$bluebtn-backgroundcolor-disabled: rgba(65, 135, 247, 0.6);
$bluebtn-wordcolor-disabled: $theme-font-color-msg;

//Other component Color
$label-color: #4a4a4a;
$divider-color: #bdbdbd;
$mdtAmountColor: #9b9b9b;
$placeholderColor: $mdtAmountColor;

// Height and margin
$header-height: 52px;
