@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
    primary: $theme-color,
    text-primary-on-primary: white,
    text-primary-on-background: #4a4a4a,
    text-accent-on-background: #999999,
    divider: #eef3f8,
    icon-disabled: '#fad689'
));

.md-divider {
    margin: 0 16px;
    flex-shrink: 0;
}

.md-avatar {
    font-size: 1rem;
}

.md-list-item-content {
    padding: 6px 16px;
}

.md-list.md-theme-default .md-list-item-container:not(.md-list-item-default):not([disabled]):hover {
    background-color: transparent;
}

.md-list.md-theme-default .md-list-item-container:not(.md-list-item-default):not([disabled]):active {
    background-color: rgba(0,0,0,0.12);
    background-color: var(--md-theme-default-divider-on-background, rgba(0,0,0,0.12));
    color: rgba(0,0,0,0.87);
    color: var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.87));
}

.md-button:not([disabled]):hover:before {
    background-color: transparent;
}

.md-overlay {
    z-index: 9; // Set it higher to header's z-index 8
}